<% layout('layouts/boilerplate.ejs') -%>

<main>
    <div class="container">
        <h1 class="page-title">ブログ一覧</h1>
        <div class="link">
            <a href="/travels/new">新規投稿</a>
        </div>
        <ul class="blog-list">
            <% travels.reverse().forEach((travel) => { %>
                <li>
                    <a href="travels/<%= travel._id %>"><%= travel.title %></a>
                </li>
            <% }) %>
        </ul>

    </div>
</main>
