<% layout('layouts/boilerplate.ejs') -%>

<h1 class="page-title"><%= travel.title %></h1>
<h2 class="location">旅先：<%= travel.location %></h2>
<p>
    <a href="/travels/<%= travel._id %>/edit">編集する</a>
</p>
<p>
    <form action="/travels/<%= travel.id %>?_method=DELETE" method="post" onsubmit="return confirm('本当に削除しますか？');">
        <button>削除する</button>
    </form>
</p>
<a href="/travels">ブログ一覧へ</a>